{% extends "base.html" %}
{% load app_extras %}

{% block title %}Collection Manager{% endblock %}

{% block head %}
<script>
    $(function() {
	$('.item_cover a').lightBox({
	    imageBtnClose: '/media/img/lightbox-btn-close.gif',	
	    imageBtnPrev: '/media/img/lightbox-btn-prev.gif',	
	    imageBtnNext: '/media/img/lightbox-btn-next.gif',	
	    imageLoading: '/media/img/lightbox-ico-loading.gif',	
	});
    });
</script>
{% endblock %}

{% block content %}

<h1>Items {{header}}</h1>

{% if items %}
<div class='pagination'>
    <span>
    {% if items.has_previous %}
    <a href="?page={{ items.previous_page_number }}">&lt;&lt;</a>
    {% endif %}
    {{ items.number }}/{{ items.paginator.num_pages }}
    {% if items.has_next %}
    <a href="?page={{ items.next_page_number }}">&gt;&gt;</a>
    {% endif %}
    </span>
</div>
<div class='items'>
<table>
    {% for item in items.object_list %}
    <tr class='{% cycle 'odd' 'even' %}'>
	<td class='item_cover'>{% get_cover item %}</td>
	<td><a href='{{ item.get_absolute_url }}'>{{ item.name }}</a></td>
	<td class='item_type'><a href='{{ item.type.get_absolute_url }}'>{{ item.type }}</a></td>
	<td class='item_tools'><a href='{% url app.views.item_edit item.pk %}'><img src='/media/img/edit.png' /></a>&nbsp;&nbsp;<a href='{% url app.views.item_delete item.pk %}'><img src='/media/img/delete.png' /></a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% else %}
    <p>No items are available.</p>
{% endif %}

{% endblock %}

