{% extends "base.html" %}
{% load app_extras %}

{% block title %}Collection Manager{% endblock %}

{% block content %}

<h1>{{ item.name }}</h1>

<form action='{{item.get_absolute_url}}edit/' method='post'>
    <table>
	<tr>
	    <td>Id</td>
	    <td>{{ item.pk }}</td>
	</tr>
	<tr>
	    <td>Name</td>
	    <td><input type='text' name='name' value='{{ item.name }}' /></td>
	</tr>
	<tr>
	    <td>Type</td>
	    <td>{% select_categories 'type' item.type %}</td>
	</tr>
	<tr>
	    <td>Description</td>
	    <td><input type='text' name='description' value='{{ item.description }}' /></td>
	</tr>
    </table>
    <input type='submit' value='save' />
</form>
{% endblock %}

