{% extends "base.html" %}
{% load app_extras %}
{% load tagging_tags %}

{% block title %}Collection Manager{% endblock %}

{% block head %}
<script>
    $(function() {
	$('#cover a').lightBox({
	    imageBtnClose: '/media/img/lightbox-btn-close.gif',	
	    imageLoading: '/media/img/lightbox-ico-loading.gif',	
	});
    });
</script>
{% endblock %}

{% block content %}

<h1>{{ item }}</h1>

<div id='cover'>
    {% get_cover item %}
</div>

<div id='details'>
    <table>
	<tr>
	    <td>Id</td>
	    <td>{{ item.pk }}</td>
	</tr>
	<tr>
	    <td>Name</td>
	    <td>{{ item.name }}</td>
	</tr>
	<tr>
	    <td>Type</td>
	    <td><a href='{{item.type.get_absolute_url}}'>{{ item.type.name }}</a></td>
	</tr>
	<tr>
	    <td>Description</td>
	    <td>{{ item.description|linebreaks }}</td>
	</tr>
	<tr>
	    <td>Roles</td>
	    <td>
		{% get_roles item %}
	    </td>
	</tr>
	<tr>
	    <td>Tags</td>
	    <td>
		{% tags_for_object item as tags %}
		{% for tag in tags %}
		<a href='{% url app.views.tag tag.pk %}'>{{ tag }}</a>
		{% endfor %}
	    </td>
	</tr>
    </table>
</div>
<div id='actions'>
    <a href='{% url app.views.item_edit item.pk %}'>Edit</a> - <a href='{% url app.views.item_delete item.pk %}'>Delete</a>
</div>
{% endblock %}

