{% extends "base.html" %}
{% load app_extras %}

{% block title %}Collection Manager{% endblock %}

{% block head %}

    {{ form.media }}
    <script>
	$(function() {
	    $("#id_tags").autocomplete('{% url app.views.lookup_tags %}', {
		width: 150,
		max: 10,
		highlight: false,
		multiple: true,
		multipleSeparator: " ",
		scroll: true,
		scrollHeight: 300,
		matchContains: true,
		autoFill: true,
		extraParams: {val: function() {
			return document.getElementById('id_tags').value;
		    }
		},
	    });
	});
    </script>

{% endblock %}

{% block content %}

{% if item %}
<h1>{{ item.name }}</h1>
<form enctype="multipart/form-data" action='' method='post'>
    <input type='hidden' name='type' value='{{item.type.pk}}' />
    {% get_cover item %}
{% else %}
<h1>Add new item</h1>
<form enctype="multipart/form-data" action='' method='post'>
{% endif %}

    {% for field in form %}
	<p>
	    {{ field.errors }}
	    {{ field.label_tag }}: {{ field }}
	</p>
    {% endfor %}
    {% if item %}
    <p><label>Roles</label>{% get_item_roles item %}</p>
    {% endif %}

    <input type='submit' value='Save' />
</form>

{% endblock %}
