{% extends "base.html" %}
{% load app_extras %}

{% block title %}Collection Manager{% endblock %}

{% block content %}

<h1>{{ performer }}</h1>

<div id='picture'>
</div>

<div id='details'>
    <table>
	<tr>
	    <td>Id</td>
	    <td>{{ performer.pk }}</td>
	</tr>

	<tr>
	    <td>Name</td>
	    <td>{{ performer.name }}</td>
	</tr>

	{% if performer.person %}
	<tr>
	    <td>First Name</td>
	    <td>{{ performer.person.first_name}}</td>
	</tr>
	<tr>
	    <td>Last Name</td>
	    <td>{{ performer.person.last_name }}</td>
	</tr>
	{% else %}
	<tr>
	    <td>Members</td>
	    <td>
		<ul>
		{% for member in performer.group.members.all %}
		<li><a href='{{ member.get_absolute_url }}'>{{ member }}</a></li>
		{% endfor %}
		</ul>
	    </td>
	</tr>
	{% endif %}

	<tr>
	    <td>Type</td>
	    <td>{{ performer.type.name }}</td>
	</tr>
	<tr>
	    <td>Roles</td>
	    <td>
		{% get_performer_roles performer %}
	    </td>
	</tr>
    </table>
</div>
<br />
<div id='actions'>
    <a href='{% url app.views.performer_edit performer.pk %}'>Edit</a> - <a href='{% url app.views.performer_delete performer.pk %}'>Delete</a>
</div>
{% endblock %}

