{% extends "base.html" %}
{% load app_extras %}

{% block title %}Collection Manager{% endblock %}

{% block head %} {{ form.media }} {% endblock %}

{% block content %}

{% if role %}
<h1>{{ role }}</h1>
<form action='{% url app.views.role_edit role.pk %}' METHOD='post'>
{% else %}
<h1>Add new role</h1>
<form action='{% url app.views.role_add %}' method='post'>
{% endif %}

    {% for field in form %}
    <p>
	{{ field.errors }}
	{{ field.label_tag }}: {{ field }}
    {% ifequal field.label 'Performer'%}
    <a href='{% url app.views.performer_add %}' target='_blank'><img src='/media/img/add.png' /></a>
    {% endifequal %}

    </p>
    {% endfor %}
    <p>
    <input type='submit' value='save' />
    </p>
</form>
{% endblock %}

